* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(114, 37, 53);
	color: rgb(141, 218, 202);
	font-family: sans-serif;
	cursor: default;
}

img {
	width: 200px;
	height: 200px;
}

h1 {
	font-size: 60px;
	background-color: rgb(141, 218, 202);
	color: rgb(114, 37, 53);
	padding: 1em;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#scores {
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 40px;
}

.text-center {
	text-align: center;
}

.score {
	border: 4px solid rgb(141, 218, 202);
	font-size: 64px;
	margin: 10px 0 20px 0;
}

#winText {
	clear: both;
	font-size: 45px;
	font-family: sans-serif;
	padding: 20px;
}

.hand {
	display: inline-block;
	border: 4px solid rgb(141, 218, 202);
	border-radius: 50%;
	padding: 10px;
	margin: 20px 40px 20px 40px;
	transition: all 0.3s linear;
}

.hand:hover {
	cursor: pointer;
	background-color: rgb(3, 50, 99)
}

.scoreTitle {
	width: 45%;
	font-size: 32px;
}

#images{
	text-align: center;
}

.green-glow {
	border: 4px solid lawngreen;
	box-shadow: 0 10px 10px silver;
}

.red-glow {
	border: 4px solid red;
	box-shadow: 0 10px 10px olive;
}

.gray-glow {
	border: 4px solid gray;
	box-shadow: 0 10px 10px peru;
}


























